{% extends 'base.html.twig' %}

{% block title %}ajouter societe{% endblock %}

{% block body %}


    <div class="container"  style="margin-top: 200px; margin-bottom: 100px;">
        
        <h2 class="text-center">
            {% if editMode %}
                Modification
            {% else %}
                Creation
            {% endif %}
        </h2>
        <hr>

        {{form_start(form)}}
            {{form_widget(form)}}

            <button type="submit" class="btn btn-primary mt-3">
                {% if editMode %}
                    Modifier
                {% else %}
                    Ajouter
                {% endif %}
            </button>
        {{form_end(form)}}
        
    </div>




{% endblock %}
